body{
    background-color:  #EBEBEB;
}

header {
    width: 100%;
    background-color: #EBEBEB;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.logo img {
    height: 50px;
    width: 200px;
    
}

.login-display{
    text-align: center;
}

h1{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.sp-sign-up{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #0e06f3;
}

a:hover{
    text-decoration: underline;
}

.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    outline: none;
    border: none;
}

.login-form {
    width: 400px;
}

.input-field {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    padding: 10px 12px;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
}

/* Ô input chiếm toàn bộ chiều ngang */
.input-field input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.input-field img {
    width: 20px;
    height: 10px;
    cursor: pointer;
    margin-left: 10px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgb(247, 234, 234);
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #f0f0f0;
}

.term-of-use {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.data-hook{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}